<div class="p-4 md:p-5 bg-gradient-to-r from-teal-400 
via-teal-500 to-teal-600 dark:bg-gray-800">
    <h1 class="text-left">Los sonidos de los animales</h1>
    <ul class="text-center" style="list-style-type: circle">
        <li>¿Dime cual es el animal que representa este sonido?</li>
        <li>Los sonidos de los animales</li>
      </ul>
      <div>
        <!--Cow-->
        <div class="h-56 grid grid-cols-2 gap-4 content-evenly">
            <img class="image1" *ngIf="id == 1" src="https://cdn.vectorstock.com/i/1000v/38/30/cartoon-happy-cow-vector-7353830.jpg" alt="">
            <img class="image1" *ngIf="id == 2" src="https://w7.pngwing.com/pngs/715/695/png-transparent-tiger-cartoon-tiger-mammal-cat-like-mammal-animals.png">
            <img class="image1" *ngIf="id == 3" src="https://c0.klipartz.com/pngpicture/152/1021/gratis-png-animacion-de-dibujos-animados-de-leon-leon-leon-thumbnail.png" alt="">
            <img class="image1" *ngIf="id == 4" src="https://w7.pngwing.com/pngs/400/280/png-transparent-whale-cartoon-illustration-cartoon-whale-cartoon-character-purple-marine-mammal.png" alt="">
            <img class="image1" *ngIf="id == 5" src="https://e7.pngegg.com/pngimages/697/342/png-clipart-horse-cartoon-horse-horse-mammal.png" alt="">
            <img class="image1" *ngIf="id == 6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5gI7yb5JO2FoW43Alnj8gd9IK3hDdbm94gdKYawRggA&s" alt="">
            
            <img src="https://cdn-icons-png.flaticon.com/512/2972/2972122.png" alt="">
        </div>
      </div>
</div>
